@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,700&family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  margin: 0;
}

h1 {
  font-size: 54px;
  line-height: 60px;
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: italic;
}
h2 {
  font-size: 36px;
  line-height: 40px;
  font-family: 'Playfair Display';
  font-weight: 700;
  font-style: italic;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: 'Playfair Display';
  font-weight: 600;
}
h4,
p {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  line-height: 20px;
}

h4 {
  font-family: 'Playfair Display';
  font-weight: 600;
}

.main {
  overflow-x: hidden;
}

.header {
  background-color: darkslategray;
  background-image: url(./spider.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.header-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.info-principali {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: white;
  z-index: 1;
  position: relative;
}

.sottotitolo {
  font-family: 'Source Sans Pro';
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.contenitore-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  border-radius: 100%;
  border: 4px solid darkslategray;
  margin: 0 auto;
}
.avatar {
  /* width: 100px; */
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.inner {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.box-big {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.2);
  margin-top: 80px;
  margin-bottom: 80px;
}

@media screen and (min-width: 650px) {
  .box-big {
    display: flex;
  }
}

.colonne-2 {
  padding: 40px;
}

@media screen and (min-width: 650px) {
  .colonne-2 {
    flex-basis: 50%;
    width: 40%;
  }
}

.about {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media screen and (min-width: 650px) {
  .about {
    border-right: 1px solid rgba(0,0,0,0.1);
    border-bottom: 0;
  }
}


.titolo-sezione {
  text-align: center;
}

.mostre,
.studi,
.portfolio {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* TODO BREAKPOINT */
.lavori {
  display: flex;
  gap: 40px 5%;
  flex-wrap: wrap;
}
.lavoro {
  flex-basis: 30%;
}

.contenitore-immagine-lavoro {
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.immagine-lavoro {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lavoro:first-child {
  flex-basis: 100%;
}
.lavoro:first-child .contenitore-immagine-lavoro {
  padding-top: 65%;
}

.lavoro h3 {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: -24px; 
  /* farlo prima a 20, poi aggiustarlo topo il padding */
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 2px 4px;
  width: fit-content;
  color: white;
}

.percorso {
  display: flex;
  box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.2);
  margin-bottom: 40px;
  transition: all 0.5s;
}

.percorso:hover {
  box-shadow: 0 5px 25px 0 rgba(0,0,0, 0.2);
}

.percorso:nth-child(even) .data-percorso {
  order: 1;
}

/* TODO BREAKPOINT */
.data-percorso {
  flex-basis: 33%;
  background: darkslategray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.data-percorso p {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.data-titolo {
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 10px;
}
.data-sottotitolo {
  font-size: 36px;
  line-height: 40px;
  padding-top: 10px;
}

.data-separatore {
  border-bottom: 4px solid;
  width: 30%;
}

.contenuto-percorso {
  padding: 20px;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contenuto-percorso h3 {
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  padding-bottom: 10px;
}

.footer {
  background: darkslategray;
  color: white;
  margin: 0;
  padding: 40px 0;
}

.contatti {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.social {
  fill: white;
  display: inline-block;
  max-width: 30px;
}

.youtube {
  fill: red;
}

